* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
    display: block;
}

.hidden {
    display: none;
}

#colours {
    background: red;
}

#shapes {
    background: yellow;
}

#numbers {
    background: blue;
}

#clothing {
    background: green;
}
