* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}


/* ./src/App.js */
.app {
    width: 1000px;
    padding: 2rem;
    margin: 3rem auto;
    box-shadow: 1px 1px 5px gray;
}

.title {
    text-align: center;
}

.slide-wrapper {
    width: 600px;
    margin: 2rem auto;
    padding: 2rem;
}

.number-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 2rem auto;
    background-color: lightblue;
    color: white;
    flex-wrap: wrap;
}

.number-wrapper > div {
    border: solid 1px gray;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    margin: 3rem;
}

.message {
    text-align: center;
    font-weight: bolder;
    width: 600px;
    font-size: 1.5rem;
    color: darkblue;
}

.button-group {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2.5rem;
}

.button-group > button {
    width: 30%;
    background-color: orangered;
    color: white;
    border: none;
    padding: 1rem;
    border-radius: 10px;
}

.button-group > button:hover {
    background-color: darkblue;
    box-shadow: 0px 0px 5px 1px gray;
    font-weight: bolder;
}

.active {
    background-color: orangered;
    box-shadow: 0px 0px 5px 1px gray;
}


.read-more {
    background-color: lightblue;
    padding: 1rem;
}

.read-more-button {
    border: none;
    padding: 0.1rem 0.5rem;
    background-color: crimson;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
