* {
    box-sizing: border-box;
}

.app {
    font-family: "Courier New", Courier, monospace;
}

.form {
    width: 800px;
    padding: 1rem;
    box-shadow: 1px 1px 5px gray;
    margin: 3rem auto;
    background-color: azure;
}

.form fieldset legend {
    padding: 1rem;
    text-align: center;
    background-color: white;
    border: 1px solid gray;
}

#name {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
}

.input-style {
    padding: 0.5rem 1rem;
    border: 1px solid gray;
}

.form-group {
    margin-bottom: 2rem;
}

label {
    width: 200px;
    display: inline-block;
}

textarea {
    display: block;
    width: 100%;
    height: 300px;
    padding: 1rem;
}

.form-submit {
    border: none;
    background-color: green;
    color: whitesmoke;
    padding: 0.5rem 2rem;
    border-radius: 10px;
}

.form-submit:hover {
    background-color: crimson;
    font-weight: bolder;
    box-shadow: 0px 0px 3px 1px gray;
    cursor: pointer;
}
