* {
    box-sizing: border-box;
}

img {
    aspect-ratio: 1/1;
    width: 100%;
    display: block;
}

/* ./src/Comment.js */ 
/* .card {
    border: solid 1px gray;
    width: 300px;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem;
} */

.card-content {
    text-align: center;
    display: block;
    font-weight: bolder;
    font-size: 1.5rem;
}

.card-metadata {
    text-align: center;
}

.card-posted-date {
    font-style: italic;
    color: darkblue;
    font-weight: bolder;
}

/* ./src/App.js */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.post-comment-list {
    width: 980px;
    background-color: rgb(240, 240, 240);
    margin: 3rem auto;
}

.post-comment-list li {
    list-style: none;
    background-color: white;
    padding: 1rem;
    border: solid 1px rgb(240, 240, 240);
}

/* ./src/Feedback.js */
.feedback-container {
    margin: 1rem;
}

.feedback-container:hover {
    box-shadow: 0px 0px 05px 1px gray;
    transform: scale(1.01);
    overflow: hidden;
    border-radius: 10px;
}

.feedback-card {
    width: 300px;
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.feedback-footer {
    background-color: gray;
    padding: 0.5rem 1rem;
    color: aliceblue;
}

.feedback-content {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
}

/* ./src/ModalWindow.js */
.modal-window {
    z-index: 1000;
    background-color: rgba(50, 50, 50, 0.7);
    position: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    display: none;
}

.modal-content {
    background-color: whitesmoke;
    width: 500px;
    margin: 100px auto;

}

.modal-header {
    border-bottom: ridge 1px lightblue;
    display: flex;
}

.modal-header p:nth-child(1) {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.modal-close {
    margin-left: auto;
    padding-right: 2rem;
    color: lightgreen
}

.modal-close:hover {
    color: red;
}

.modal-comment-input {
    width: 80%;
    margin: 10%;
    padding: 0.5rem 1rem; 
}

.modal-comment-post-button {
    width: 80%;
    margin: 10%;
    background-color: lightgreen;
    padding: 1rem;
}

.modal-comment-post-button:hover {
    background-color: crimson;
}
