* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

/* comment.js */
.card {
    width: 300px;
    border-radius: 5px;
    padding: 1rem;
    margin: 2rem;
}

.author {
    text-align: center;
    font-weight: bolder;
    display: block;
    font-size: 1.5rem;
}

.metadata {
    text-align: center;
}

.date {
    font-style: italic;
    color: darkblue;
    font-weight: bolder;
}

/* App.js */
.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


/* user_feedback.js */
.feedback_container {
    margin: 1rem;
}

.feedback_container:hover {
    box-shadow: 0px 0px 5px 1px gray;
    transform: scale(1.01);
    overflow: hidden;
    border-radius: 10px;
}

.feedback_card {
    width: 300px;
    border: solid 1px gray;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
}

.feedback_description {
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem;
}

.feedback_footer {
    background-color: gray;
    padding: 0.5rem 1rem;
    color: aliceblue;
}


/* ModalWindow.js */
.modal-window {
    display: none;
    background-color: rgba(20, 20, 20, 0.5);
    display: fixed;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}

.modal-content {
    background-color: whitesmoke;
    width: 500px;
    margin: 100px auto;
}

.modal-header {
    border-bottom: ridge 1px lightblue;
    display: flex;
}

.modal-header p:nth-child(1) {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.modal-close {
    margin-left: auto;
    padding-right: 2rem;
    color: lightgreen;
}

.modal-comment {
    width: 80%;
    margin: 10%;
    padding: 0.5rem 1rem;
}

.modal-comment-post {
    width: 80%;
    margin: 10%;
    background-color: limegreen;
    padding: 1rem;
    border: none;
    border-radius: 5px;
}


.modal-comment-post:hover, .modal-close:hover {
    background-color: crimson; 
}
