.page-body {
    background-color: #fadfc3;
    color: black;
    display: block;
    height: 100vh; /* https://stackoverflow.com/questions/1575141/how-to-make-a-div-100-height-of-the-browser-window */
    padding: 1rem;
}

.page-body > div > a {
    display: inline-block;
    width: 50%;
}

.page-body > div > a > img {
    width: 100%;
}

.page-title {
    margin-top: 0;
}

.page-content {
    display: inline-flex;
}

.page-content > p {
    width: 50%;
    padding: 3rem;
    font-size: x-large;
}
