* {
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}

html {
    scroll-behavior: smooth;
}

.displaypexels {
    background-color: rgba(150, 150, 150, 0.6);
    width: 200px;
    padding: 1em;
    position: fixed;
    top: 0%;
    right: 0%;
}

.image_container {
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img_gallery {
    width: 500px;
    margin: 2em;
}

.toTop {
    background-color: rgba(50, 50, 50, 0.8);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 2%;
    right: 2%;
    display: none;
}

.toTop a {
    text-decoration: none;
    color: orangered;
}

.openmodal {
    overflow: hidden;
    border-radius: 12px;
}

.openmodal:hover {
    opacity: 0.8;
}

.modal_overlay {
    background-color: rgba(50, 50, 50, 0.8);
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: none;
}

.modal {
    background-color: whitesmoke;
    width: 800px;
    margin: 100px auto;
    position: relative;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
    font-weight: bolder;
}

.close_btn:hover {
    color: crimson;
}

.modal h2 {
    text-align: center;
    padding: 1em;
    color: darkblue;
}

.modal_info {
    display: flex;
}

.modal_img, .modal_p {
    width: 50%;
    padding: 2rem;
}
