* {
    box-sizing: border-box;
}

img {
    display: block;
    width: 100%;
}

/* src/components/ProductList.jsx */
.product-title {
    color: darkgreen;
    text-align: center;
}

.product-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.product-card {
    border: 1px solid gray;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    transition: ease-in-out 500ms;
    width: 220px;
}

.product-information {
    font-weight: bolder;
    text-align: center;
}

.product-information span {
    color: crimson;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

.product-add-to-cart {
    background-color: darkgreen;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 0.5rem;
    width: 100%;
}

.product-add-to-cart:hover {
    cursor: pointer;
    background-color: crimson;
    box-shadow: 0px 0px 2px 1px gray;
}

/* src/components/Cart.jsx */
.cart-title {
    color: darkgreen;
    text-align: center;
}

.cart-container {
    border: 1px solid gray;
    margin: 2rem auto;
    width: 1000px;
    padding: 1.5rem;
}

.cart-empty {
    color: gray;
    font-size: 1.5rem;
    font-weight: bolder;
}

.cart-item {
    display: flex;
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
}

.cart-item-image {
    padding: 0.5rem;
    width: 10%;
}

.cart-item-name {
    padding-left: 2rem;
}

.cart-item-price, .cart-item-quantity, .cart-item-total {
    padding: 0.5rem;
    width: 20%;
}

.cart-item-remove {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: crimson;
    cursor: pointer;
}

.cart-item-remove:hover {
    font-weight: bolder;
    text-decoration: underline;
}

.cart-total {
    border-top: 1px solid gray;
    font-size: 1.5rem;
    font-weight: bolder;
    padding: 1rem 0rem;
}
